<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>

<body class="flex-column min-100-vh">
  <nav class="navbar">
    <ul class="flex-row">
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
  <header class="hero">
    <h1 class="app-title"><a href="/dashboard">Your Dashboard</a></h1>
  </header>

  <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="footer flex-row justify-center">
    <a href="/dashboard/new">➕ New Post</a>
  </footer>
</body>

<script src="/public/logout.js"></script>

</html>













{{!-- <div class="new-post-form">
    <form action="" method="post">
        <h2>Create New Post</h2>
        <p>Please use this form to make a new post!</p>
        <hr>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-heading"></i>
                    </span>
                </div>
                <input type="text" id="post-title" class="form-control" placeholder="Title" name="post-title" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-pencil-alt"></i>
                    </span>
                </div>
                <input type="text" id="post-content" class="form-control" placeholder="Content" name="post-content" required="required">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-secondary btn-lg">Create</button>
        </div>
    </form>
</div>

{{#if posts.length}}
<section>
  <h1>Your Posts</h1>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link nav-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}} --}}


<script src="/logout.js"></script>