<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css"></link>
    <title>The Tech Blogs</title>
</head>
<body>
<div class="flex-column justify-space-around">
    
    <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/">Dashboard</a>
    <a class="navbar-brand"href="/">Logout</a>
  </nav>
  <div class="container">
      <h1 class="display-7">The Tech Blogs </h1>
      <h4 class="mt-4">Post your thoughts</h4>
      <a class="btn btn-primary btn-lg mt-4" href="/Main/controllers/api/login.js" role="button">Login/Register</a>
    </div>
  </div>
    <main class="container container-fluid mt-5"
         {{{ body }}}
    </main>
  <footer class="bg-dark">
    <div>
      <p class="text center font bold">Made by sgfiles ©2021</p>
    </div>

  </footer>
</div>
</body>
<script src="../public"></script>
</html>