<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-input-login">Username</label>
      <input type="text" id="username-input-login" />
    </div>
    <div>
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" id="password-input-login" />
    </div>
    <button type="submit" id="login-btn" class="btn">Login!</button>
    <a type="button" href="/signup">Sign up instead</a>
  </form>
</div>

<script src="/public/login.js"></script>







{{!-- <div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Sign Up</h2>

    <form class="form sign up-form">
      <div class="form-group">
        <label for="name-sign up">name:</label>
        <input class="form-input" type="text" id="name-sign up" />
      </div>
      <div class="form-group">
        <label for="username-sign up">username:</label>
        <input class="form-input" type="text" id="user-signUp" />
      </div>
      <div class="form-group">
        <label for="password-signUp">password:</label>
        <input class="form-input" type="password" id="password-signUp" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>

<script src="/login.js"></script> --}}
